* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #b91547;
    font-size: 25px;
}

main {

    height: 100vh;
    background-color: rgb(143, 43, 43);
    text-align: center;
    padding-top: 3.125rem;

}

h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 2.5rem;
}

.container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#nomeCognome {

    display: block;
}

#distanza {

    display: block;
}

#fasciaEta {

    display: block;
}

.containerFormItems {
    margin-right: 3.750rem;
    display: inline-block;
}

.containerForm {
    margin: 1.875rem 8.125rem;
    display: flex;
    justify-content: center;

}

.containerInput {
    box-shadow: 0px 0px 15px -1px #000000;
    border-radius: .3125rem;
    background-color: white;
    margin-bottom: 1.5625rem;
    width: fit-content;

}

.containerBottoni {

    margin-top: 1.875rem;

}

/* .formStyle{
    
} */

.inputStyle {
    border-radius: 5px;
    border-color: #b91547;
    border-width: 2px;
    color: black;
}

.inputStyle.btnStyle {
    padding: 8px;
    background-color: #c5c5c5;
    color: #b91547;
    margin-top: 3.125rem;
    margin-left: 20px;
    border-color: #878787;
}

.inputStyle.btnStyle:hover {

    border-color: #e38446;

}

.labelStyle {
    display: block;
    margin-bottom: 30px;
}
.containerBiglietto{

    background-color: white;
    
}
.containerDati{

    margin: 1.875rem 8.125rem;
    display: flex;
    justify-content: center;
    
}

table{
    border-top: 1px solid #878787;
    border-bottom: 1px solid #878787;
    padding: 30px;
}

.cellStyle{
    color: #000000;
    padding: 10px;
}

.cellColumn{

    background-color: #878787;
}